@page "/todolist"
@using NewToDoApp.Models
@inject IToDoService ToDoService
@rendermode @(new InteractiveAutoRenderMode(prerender: false))

<MudPopoverProvider />

<h3>ToDoList</h3>

@if(ToDoService.ToDos == null || ToDoService.ToDos.Count == 0)
{
    <p>no stuff brah</p>
}
else
{
    <div>
        @if(ToDoService.ToDos == null || ToDoService.ToDos.Count == 0){
            <p>not wired up brah</p>
        }
        else 
        {
            @* @foreach (var ToDo in ToDoService.ToDos)
            {
                <p>@ToDo.Name</p>
            } *@
            <MudButton Href="todolist/create">Create New</MudButton>
            <MudDataGrid Items="ToDoService.ToDos">
                <Columns>
                    <PropertyColumn Property="x => x.Name" Title="Name" />
                    <TemplateColumn Items="todoitem">
                        <CellTemplate>
                            @* <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" /> *@
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Details" />
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" />
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" />

                        </CellTemplate>

                    </TemplateColumn>
                </Columns>
            </MudDataGrid>
        }

    </div>
}

@code {
    public List<TodoItem> ToDoListTrad = new List<TodoItem>();

    protected override async Task OnInitializedAsync()
    {
        ToDoService.ToDosChanged += StateHasChanged;
        await ToDoService.GetAllToDos();
    }
}
