@page "/todolist"
@page "/todolist/active"
@page "/active"
@using NewToDoApp.Models
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
@inject IToDoService _toDoService
@inject ISnackbar SnackbarService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@implements IDisposable
@rendermode @(new InteractiveAutoRenderMode(prerender: false))

<MudPopoverProvider />
<MudSnackbarProvider />

<div class=" @isCompleted">
    <div class="col-md-5 col-sm-6 button-banner">
        @if (taskViewState == "active")
        {
            <div class="mb-3 d-flex flex-end">
                <h5 class="me-2 mt-2">View: </h5>
                <MudButton OnClick="SetTasksToCompleted" Variant="Variant.Filled" Color="Color.Dark" class="me-3">Completed Tasks</MudButton>
                <MudButton OnClick="SetTasksToAll" Variant="Variant.Filled" Color="Color.Dark">All Tasks</MudButton>
            </div>
        }
        else if (taskViewState == "completed")
        {
            <div class="mb-3 d-flex">
                <h5 class="me-2 mt-2">View: </h5>
                <MudButton OnClick="SetTasksToActive" Variant="Variant.Filled" Color="Color.Dark" class="me-3">Active Tasks</MudButton>
                <MudButton OnClick="SetTasksToAll" Variant="Variant.Filled" Color="Color.Dark">All Tasks</MudButton>
            </div>
        }
        else
        {
            <div class="mb-3 d-flex">
                <h5 class="me-2 mt-2">View: </h5>
                <MudButton OnClick="SetTasksToActive" Variant="Variant.Filled" Color="Color.Dark" class="me-3">Active Tasks</MudButton>
                <MudButton OnClick="SetTasksToCompleted" Variant="Variant.Filled" Color="Color.Dark">Completed Tasks</MudButton>
            </div>
        }
    </div>
    @if(isLoading)
    {
        <span class="message-span">@_toDoService.Message</span>
    }
    @* else if (!isLoading && (_toDoService.ToDos == null || _toDoService.ToDos.Count == 0)) *@
    else if (_toDoService.ToDos == null || _toDoService.ToDos.Count == 0)
    {
        <span class="message-span">@_toDoService.Message</span>
    }
    else
    {
        <div class="home-page">
            <div class="container">
                <div class="col-md-7 col-sm-6">
                    <h3>@Header: @_toDoService.ToDos.Count</h3>
                </div>
                <div class="mb-3">
                    <MudButton Href="todolist/create" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Create</MudButton>
                    @if(taskViewState == "completed")
                    {
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" class="ms-2"
                        data-bs-toggle="modal" data-bs-target="#deleteAllModal">Delete all</MudButton>
                    }
                </div>
                <MudDataGrid T="TodoItem" Items="_toDoService.ToDos" SelectOnRowClick="true"
                EditMode="DataGridEditMode.Form" Bordered="true" Elevation="15" Hover="true" Striped="true"
                EditTrigger="DataGridEditTrigger.OnRowClick" Class="IsCompleted">
                    <Columns>
                        <PropertyColumn Property="x => x.Id" Title="Id" />
                        <PropertyColumn Property="x => x.Name" Title="Name" />
                        <TemplateColumn Items="todoitem" title="Completed">
                            <CellTemplate>
                                <MudCheckBox @bind-Value="@context.Item.IsComplete" @onclick="() => ChangeCompleteness(context.Item)" id="liveToastBtn"></MudCheckBox>
                            </CellTemplate>
                        </TemplateColumn>
                        <TemplateColumn Items="todoitem">
                            <CellTemplate>
                                <a href="@($"todoitem/update/{context.Item.Id}")" class="" >
                                    <i class="fa-solid fa-pen-to-square fa-xl"></i>
                                </a>
                                <button @onclick="() => PassIdToModal(context.Item.Id)" type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fa-solid fa-trash fa-xl"></i>
                                </button>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager T="TodoItem" PageSizeOptions=@(new int[] {5, 10, 20}) />
                    </PagerContent>
                </MudDataGrid>
            </div>
        </div>
    }
</div>

<!-- Delete Single Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button @onclick="() => DeleteTodoItem(idForDelete)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete All Modal -->
<div class="modal fade" id="deleteAllModal" tabindex="-1" aria-labelledby="deleteAllModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete all completed tasks?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button @onclick="() => DeleteAll()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete All</button>
            </div>
        </div>
    </div>
</div>

@code {
    public List<TodoItem> ToDoListTrad = new List<TodoItem>();
    public string taskViewState = "active";
    public bool activeTasks = true;
    public string Header = "Active Tasks";
    public string isCompleted = "";
    public bool isLoading = true;
    public int idForDelete = 0;

    [Parameter]
    public string StateParam { get; set; }

    // protected override async Task OnInitializedAsync()
    // {        
    //     _toDoService.ToDosChanged += StateHasChanged;
    //     // _toDoService.ToDos = await _toDoService.GetActiveTodos();
    //     LoadState();
    //     isLoading = false;
    // }

    protected override async Task OnParametersSetAsync()
    {
        // _toDoService.ToDosChanged += StateHasChanged;
        _toDoService.ToDos = await _toDoService.GetActiveTodos();
        LoadState();
        isLoading = false;
    }

     public void Dispose()
    {
        _toDoService.ToDosChanged -= StateHasChanged;
    }

    private async void LoadState()
    {
        if(taskViewState == "completed")
        {
            _toDoService.ToDos = await _toDoService.GetCompletedTodos();
        }
        else if (taskViewState == "active")
        {
            _toDoService.ToDos = await _toDoService.GetActiveTodos();
        }
        else 
        {
            _toDoService.ToDos = await _toDoService.GetAllToDos();
        }
        SetIsCompleted();
        StateHasChanged();
    }


    private void SetTasksToCompleted()
    {
        taskViewState = "completed";
        Header = "Completed Tasks";
        LoadState();
        SetIsCompleted();
        _toDoService.ToDosChanged += StateHasChanged;
    }

    private void SetTasksToAll()
    {
        taskViewState = "all";
        Header = "All Tasks";
        LoadState();
        _toDoService.ToDosChanged += StateHasChanged;
    }

    private void SetTasksToActive()
    {
        taskViewState = "active";
        Header = "Active Tasks";
        LoadState();
        _toDoService.ToDosChanged += StateHasChanged;
    }

    private async Task ChangeCompleteness(TodoItem itemToUpdate)
    {
        itemToUpdate.IsComplete = !itemToUpdate.IsComplete;
        await _toDoService.UpdateTodoItem(itemToUpdate);
        LoadState();
        _toDoService.ToDosChanged += StateHasChanged;
        if(taskViewState == "active"){
            SnackbarService.Add($"Task is marked completed", Severity.Success);
        }
        else
        {
            SnackbarService.Add($"Task is marked as active", Severity.Success);
        }
    }

    private async void PassIdToModal(int id)
    {
        idForDelete = id;
    }

    private async Task DeleteTodoItem(int idForDelete)
    {
        await _toDoService.DeleteTodo(idForDelete);
        SnackbarService.Add($"Deleted task #{idForDelete}", Severity.Error);
        LoadState();
        _toDoService.ToDosChanged += StateHasChanged;
        NavigationManager.NavigateTo("/");
    }

    private async Task DeleteAll()
    {
        await _toDoService.DeleteAllCompleted();
        SnackbarService.Add("Deleted all completed tasks", Severity.Error);
        LoadState();
        _toDoService.ToDosChanged += StateHasChanged;
        NavigationManager.NavigateTo("/");
    }

    private void GoToDeletePage(int id){
        NavigationManager.NavigateTo($"todoitem/delete/{id}");
    }

    private void SetIsCompleted() 
    {
        if(taskViewState == "completed")
        {
            isCompleted = "completed-background";
        }
        else
        {
            isCompleted = "";
        }
    }
}





                @* <div class="col-md-5 col-sm-6" >
                    @if (taskViewState == "active")
                    {
                        <div class="mb-3 d-flex">
                            <h5 class="me-2 mt-2">View: </h5>
                            <MudButton OnClick="SetTasksToCompleted" Variant="Variant.Filled" Color="Color.Dark" class="me-3">Completed Tasks</MudButton>
                            <MudButton OnClick="SetTasksToAll" Variant="Variant.Filled" Color="Color.Dark">All Tasks</MudButton>
                        </div>
                    }
                    else if (taskViewState == "completed")
                    {
                        <div class="mb-3 d-flex">
                            <h5 class="me-2 mt-2">View: </h5>
                            <MudButton OnClick="SetTasksToActive" Variant="Variant.Filled" Color="Color.Dark" class="me-3">Active Tasks</MudButton>
                            <MudButton OnClick="SetTasksToAll" Variant="Variant.Filled" Color="Color.Dark">All Tasks</MudButton>
                        </div>
                    }
                    else
                    {
                        <div class="mb-3 d-flex">
                            <h5 class="me-2 mt-2">View: </h5>
                            <MudButton OnClick="SetTasksToActive" Variant="Variant.Filled" Color="Color.Dark" class="me-3">Active Tasks</MudButton>
                            <MudButton OnClick="SetTasksToCompleted" Variant="Variant.Filled" Color="Color.Dark">Completed Tasks</MudButton>
                        </div>
                    }
                </div> *@



        @* <p>Sorry, there are no @taskViewState tasks</p>
        @if (taskViewState == "active")
        {
            <div class="mb-3 d-flex">
                <h5 class="me-2 mt-2">View: </h5>
                <MudButton OnClick="SetTasksToCompleted" Variant="Variant.Filled" Color="Color.Dark" class="me-3">Completed Tasks</MudButton>
                <MudButton OnClick="SetTasksToAll" Variant="Variant.Filled" Color="Color.Dark">All Tasks</MudButton>
            </div>
            <div class="mb-3">
                <MudButton Href="todolist/create" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Create</MudButton>
            </div>
        }
        else if (taskViewState == "completed")
        {
            <div class="mb-3 d-flex">
                <h5 class="me-2 mt-2">View: </h5>
                <MudButton OnClick="SetTasksToActive" Variant="Variant.Filled" Color="Color.Dark" class="me-3">Active Tasks</MudButton>
                <MudButton OnClick="SetTasksToAll" Variant="Variant.Filled" Color="Color.Dark">All Tasks</MudButton>
            </div>
            <div class="mb-3">
                <MudButton Href="todolist/create" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Create</MudButton>
            </div>
        }
        else
        {
            <div class="mb-3">
                <MudButton Href="todolist/create" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Create</MudButton>
            </div>
        } *@